/*-------------------------------------------
デフォルトのスタイルを設定（基本いじらない）
-------------------------------------------*/
html {
    font-size: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
